<tui-root [attr.tuiTheme]="theme$ | async">
  <div id="navbar">
    <div id="title" (click)="goToDashboard()">Stocks App</div>

    <div style="flex-grow: 1"></div>

    <div>
      @let icon = (theme$ | async) === "light" ? "@tui.moon" : "@tui.sun";
      <button
        appearance="outline"
        [iconStart]="icon"
        size="s"
        tuiIconButton
        type="button"
        [style.border-radius.%]="100"
        (click)="toggleTheme()"
      ></button>
    </div>
  </div>

  <div id="main-content">
    <div style="margin-bottom: 2rem">
      <app-ticker-search />
    </div>
    <router-outlet />
  </div>
</tui-root>
