<tui-combo-box
  [stringify]="stringify"
  [formControl]="selectedTicker"
  [tuiTextfieldLabelOutside]="true"
  [valueContent]="value"
  [(search)]="tickerSearchQuery"
  *tuiLet="items$ | async as filtered"
>
  Search for a ticker symbol
  <input tuiTextfieldLegacy (input)="searchStocks(tickerSearchQuery)" />
  <ng-template #value let-item>
    <span class="name">{{ stringify(item) }}</span>
  </ng-template>
  <ng-template tuiDataList>
    @if (filtered) {
      <tui-data-list
        [emptyContent]="filtered.length === 0 ? (tickerSearchQuery.length > 0 ? loading : 'Start typing...') : null"
      >
        @for (item of filtered; track $index) {
          <button tuiOption [value]="item">
            <div>
              <div class="name">{{ item.symbol }}</div>
              <div class="name">{{ item.name }}</div>
            </div>
          </button>
        }
      </tui-data-list>
    }
  </ng-template>
</tui-combo-box>

<ng-template #loading>
  <tui-loader class="tui-space_vertical-4" />
</ng-template>
