.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1.5rem;
  gap: 1.5rem;
}

.price {
  transition: color 500ms ease;
}

.flash {
  color: #4caf50;
}

.group {
  width: 17rem;
}

#chart-container {
  margin-bottom: 1rem;
}

#table-container {
  padding: 0 1rem;
  overflow: auto;
}
