@if (ticker$ | async; as ticker) {
  <div id="header">
    <div style="font-size: 1.5rem">{{ ticker }}</div>

    <div style="flex-grow: 1"></div>

    <div tuiGroup class="group" [collapsed]="true">
      @for (interval of intervals; track $index) {
        @let appearance = interval === interval$.value ? "primary" : "outline";
        <button
          (click)="interval$.next(interval)"
          [appearance]="appearance"
          size="s"
          tuiButton
          type="button"
          style="text-transform: capitalize"
        >
          {{ interval }}
        </button>
      }
    </div>
  </div>

  @if (data$ | async; as data) {
    <div id="chart-container">
      <app-chart [data]="data.values"></app-chart>
    </div>

    <div id="table-container">
      <app-table [data]="data.values"></app-table>
    </div>
  }
} @else {
  <div style="color: red">Error: No ticker provided</div>
}
