@if (ticker) {
  <div style="display: flex">
    <div style="font-size: 1.5rem">{{ ticker }}</div>

    <div style="flex-grow: 1"></div>

    <div tuiGroup class="group" [collapsed]="true" style="width: 17rem">
      @for (interval of intervals; track $index) {
        @let appearance = interval === currInterval ? "primary" : "outline";
        <button
          (click)="selectInterval(interval)"
          [appearance]="appearance"
          size="s"
          tuiButton
          type="button"
          style="text-transform: capitalize"
        >
          {{ interval }}
        </button>
      }
    </div>
  </div>

  <app-chart [ticker]="ticker" [interval]="currInterval"></app-chart>
} @else {
  <div style="color: red">Error: No ticker provided</div>
}
