@if (dashboardTickers$ | async; as dashTickers) {
  <div id="header">
    <h2 style="margin-top: 0">Dashboard</h2>

    @if (dashTickers.size > 0) {
      <app-interval-select (intervalSelected)="interval = $event" />
    }
  </div>

  @if (dashTickers.size === 0) {
    <div style="text-align: center">Add stocks to your dashboard to view them here :)</div>
  }

  <div id="dash-items">
    @for (ticker of dashTickers; track $index) {
      <div [id]="'ticker-' + ticker">
        <div class="ticker" (click)="goToTickerInfo(ticker)">{{ ticker }} - {{ currentPrices[ticker] | currency }}</div>
        <app-mini-chart [ticker]="ticker" [interval]="interval" (lastPrice)="currentPrices[ticker] = $event" />
      </div>
    }
  </div>
}
